<h1>Reverse string here: </h1>
<form action="/display" method="post" accept-charset="utf-8">
	<input type="text" name="post[string]" value="Enter your string here" id="string">
	<p><input type="submit" value="and reverse it!!"></p>
</form>